<p id="notice"><%= notice %></p>

<h1>Market Listings</h1>

<%= render @market_listings %>
<%== pagy_nav(@pagy) %>

<br>

<% if can? :manage, MarketListing %>
  <%= link_to 'New Market Listing', new_market_listing_path %>
<% end %>