<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @scm_value.value %>
</p>

<p>
  <strong>Date:</strong>
  <%= @scm_value.date %>
</p>

<%= link_to 'Edit', edit_scm_value_path(@scm_value) if current_user && current_user.superadmin_role? %>