<div class="pagination-container" id="market-listings-purchases">
  <div class="market-listings mb-2">
    <%= render @market_listings_purchases %>
  </div>
  
  <%== pagy_nav(@pagy_market_listings_purchases) %>
</div>