<div class="pagination-container mb-4" id="marketplace-sales">
  <div class="marketplace-sales mb-2">
    <%= render @marketplace_sale_items %>
  </div>
  
  <%== pagy_nav(@pagy_marketplace_sale_items) %>
</div>