<div class="pagination-container" id="market-listings-sales">
  <div class="market-listings mb-2">
    <%= render @market_listings_sales %>
  </div>
  
  <%== pagy_nav(@pagy_market_listings_sales) %>
</div>