<div class="pagination-container mb-4" id="steam-trades-purchases">
  <div class="steam-trades">
    <%= render @steam_trades_purchases %>
  </div>
  
  <%== pagy_nav(@pagy_steam_trades_purchases) %>
</div>