<% if @steam_trades.any? %>
  <h2>Steam Trades</h2>
  <%= render 'purchases/steam_trades' %>
<% end %>

<% if @market_listings.any? %>
  <h2>Market Listings</h2>
  <%= render 'purchases/market_listings' %>
<% end %>