<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
<% end %>

<% if current_user %>
	<% if current_user.superadmin_role? %>
		<p>You are an admin.</p>
	<% elsif current_user.supervisor_role? %>
		<p>You are a moderator.</p>
	<% end %>
<% end %>