<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
<% end %>

<% if can? :manage, User %>
	<p>You can manage users. </p>
	<%= current_user %>
<% end %>