<p id="notice"><%= notice %></p>

<h1>Steam Trades</h1>

<div class="steam-trades">
  <%= render @steam_trades %>
</div>
<%== pagy_nav(@pagy) %>

<br>

<% if can? :manage, SteamTrade %>
  <%= link_to 'New Trade', new_steam_trade_path %>
<% end %>
