<p id="notice"><%= notice %></p>

<h1>Steam Trades</h1>

<div class="steam-trades">
  <%= render @steam_trades %>
</div>
<%= will_paginate @steam_trades %>

<br>

<%= link_to 'New Trade', new_steam_trade_path if current_user && current_user.superadmin_role? %>
