<h1>Editing Marketplace Sale Item</h1>

<%= render 'form', marketplace_sale_item: @marketplace_sale_item %>

<%= link_to 'Show', @marketplace_sale_item %> |
<%= link_to 'Back', marketplace_sale_items_path %>
