<p id="notice"><%= notice %></p>

<h1>Marketplace Sale Items</h1>

<%= render @marketplace_sale_items %>
<%== pagy_nav(@pagy) %>

<br>

<% if can? :manage, MarketplaceSaleItem %>
  <%= link_to 'New Marketplace Sale Item', new_marketplace_sale_item_path %>
<% end %>