<h2>Steam Trades</h2>
<%= line_chart @steam_trades_chart %>

<h2>Keys</h2>
<%= line_chart @steam_trade_keys_chart %>

<h2>Market Listings</h2>
<%= money_line_chart @market_listings_chart %>

<h2>Marketplace Sales</h2>
<%= money_line_chart @marketplace_sales_chart %>