<div class="pagination-container" id="steam-trades">
  <div class="steam-trades">
    <%= render @steam_trades %>
  </div>
  
  <%= paginate @steam_trades, :params => params.merge({ :controller => :sales, :action => :steam_trades }) %>
</div>